<section class="landing-page">
 <div class="landing-cont">
  <h1>Expenzy</h1>
    <div class="links-btns">     
       <button class="sign-in-button"><%= link_to "LOGIN", new_user_session_path %></button>
       <button class="sign-up-button"><%= link_to "SIGN UP", new_user_registration_path %></button>
    </div>
 </div
</section>
