<section class="landing-page">
 <div class="landing-cont">
  <h1> BudgetBuddy</h1>
    <div class="links-btns">     
       <button class="sign-in-btn"><%= link_to "LOG IN", new_user_session_path %></button>
       <button class="sign-up-btn"><%= link_to "SIGN UP", new_user_registration_path %></button>
    </div>
 </div
</section>
