@import url("https://fonts.googleapis.com/css?family=Proxima+Nova");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Proxima Nova", sans-serif;
}

body {
  background-color: rgb(218, 218, 213);
  overflow-x: hidden;
  max-width: 400px;
  min-height: 750px;
  margin: auto;
}

section {
  border: 3px solid #707070;
}

p {
  color: #9a9b9b;
}

input::placeholder {
  color: #7c7c7c;
}

.landing-page {
  width: 100%;
  height: 100vh;
}

.landing-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landing-cont h1 {
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 25px;
  padding-top: 15rem;
}

.links-btns {
  width: 100%;
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.sign-in-button {
  width: 90%;
  height: 3rem;
  font-size: 10px;
  background-color: #3778c2;
  border-style: none;
  color: white;
}

.sign-in-button a {
  color: white;
  text-decoration: none;
}

.sign-up-btn {
  font-size: 10px;
  border-style: none;
}

.sign-up-btn a {
  color: #434b54;
  text-decoration: none;
}

.header-cat {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  background-color: #3778c2;
}

.category-nav {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 20px;
  color: white;
}

.category-nav h1 {
  font-weight: 1000;
  font-size: 25px;
}

.category-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-article {
  width: 90%;
}

.article-inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: 6rem;
  background-color: white;
  margin-block: 10px;
  padding: 0 10px;
}

.category-article a {
  text-decoration: none;
}

.icon img {
  width: 60%;
  height: 100px;
  padding: 0;
}

.name-category,
.total-category {
  flex-grow: 1;
  text-transform: capitalize;
  font-size: 25px;
  color: #9a9b9b;
}

.add-category {
  font-size: 24px;
  text-align: center;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 1rem 3rem;
}

.add-category-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7rem;
  background-color: #5fb523;
  margin-top: 5rem;
}

.header-payment {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #3778c2;
}

.nav-payment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1rem;
  padding-top: 1.5rem;
  font-size: 20px;
  color: white;
}

.fa-less-than {
  color: white;
}

.recent-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  padding: 25px;
}

.recent-content > p {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.recent-content .p1 {
  color: rgb(242, 235, 235);
}

.recent-content .p2 {
  color: rgb(218, 213, 213);
}

.dot {
  color: white;
  position: relative;
  left: 11rem;
  top: -20px;
  font-size: 2em;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  background-color: white;
  padding: 0 10px;
  margin-bottom: 10px;
}

.top p,
.top h3 {
  font-size: 23px;
  text-transform: capitalize;
}

.top h3,
h4 {
  font-size: 25px;
  color: #9a9b9b;
}

.payments-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.payment-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
  font-size: 20px;
}

.payment-article {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 6rem;
  background-color: white;
  margin-block: 10px;
  padding-top: 10px;
}

.category-payment-icon {
  width: 60%;
  height: 50px;
  margin-left: -4rem;
}

.pay-name {
  text-transform: capitalize;
}

.pay-date {
  padding-left: 5rem;
}

.date-div {
  width: 100%;
  height: 100%;
  background-color: hsl(30, 33%, 99%);
  display: flex;
  align-items: center;
}

.add-transaction {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6rem;
  background-color: #5fb523;
  margin-top: 6rem;
}

.add-payment {
  font-size: 24px;
  text-align: center;
  color: white;
  background-color: #5fb523;
  text-decoration: none;
  border: 1px solid white;
  padding: 1rem 4rem;
}

.login-header {
  width: 100%;
  height: 6rem;
  background-color: #3778c2;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.fa-arrow-left {
  font-size: 22px;
}

.field-login {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: white;
}

.field-login input {
  height: 5rem;
  outline-style: none;
  margin-left: 10px;
  border-color: #d7dfdd;
  border-style: none;
  border-bottom: 1px solid #e5e5e5;
}

.login-header a {
  text-decoration: none;
  color: white;
}

.login-link p {
  font-size: 15px;
  color: #fff;
}

.shared-links-login {
  display: none;
}

.passw-login {
  position: relative;
  left: 7rem;
}

.passw-login a {
  font-size: 22px;
  color: #9a9b9b;
  text-decoration: none;
}

.email-login {
  border-bottom: 1px solid #e5e5e5;
}

.field-remember-me {
  display: none;
}

.p-hide {
  color: #3778c2;
}

.actions-login {
  position: relative;
  top: -15rem;
  left: 19rem;
}

.login-submit {
  background-color: #3778c2;
  border-style: none;
  color: white;
  font-size: 15px;
}

.field-signup {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.field-signup input {
  width: 100%;
  height: 5rem;
  outline-style: none;
  border-color: #d7dfdd;
  border-style: none;
  border-bottom: 1px solid #e5e1e1;
  background-color: white;
}

.input-cont {
  margin-left: 10px;
}

.actions-signup {
  position: relative;
  bottom: 30rem;
  left: 19.5rem;
}

.signup-form-btn {
  background-color: #3778c2;
  border-style: none;
  color: white;
  font-size: 15px;
}

.signup-top {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: white;
  font-size: 22px;
  gap: 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 20px;
  padding-left: 25px;
}

.signup-top p {
  font-size: 35px;
}

.fa-user {
  font-size: 28px;
  border: 1px solid #434b54;
  border-radius: 50%;
  padding: 5px;
  color: white;
  background-color: #434b54;
}

.cont-top {
  background-color: white;
}

.label-category {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}

.label-category input {
  height: 5rem;
  outline-style: none;
  margin-left: 10px;
  border-style: none;
  border-bottom: 1px solid #e5e5e5;
  font-size: 18px;
}

.category-submit-btn {
  width: 100%;
  margin-top: 10px;
  background-color: #5fb523;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-category-btn {
  width: 300px;
  font-size: 22px;
  height: 4rem;
  background-color: #5fb523;
  border: 1px solid white;
  color: white;
}

.label-payment {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}

.label-payment input {
  height: 5rem;
  outline-style: none;
  margin-left: 10px;
  border-style: none;
  border-bottom: 1px solid #e5e5e5;
  font-size: 18px;
}

.payment-submit-btn {
  width: 100%;
  margin-top: 10px;
  background-color: #5fb523;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-payment-btn {
  width: 80%;
  font-size: 22px;
  height: 4rem;
  background-color: #5fb523;
  border: 1px solid white;
  color: white;
}

.categories-form-cont {
  padding: 10px;
  background-color: #3778c2;
  color: #222325;
}

.all-categories-label {
  font-size: 22px;
  color: #fff;
}

.form-check-label {
  color: #fff;
}
